## macOS
# General
.DS_Store
.AppleDouble
.LSOverride
# Icon must end with two \r
Icon
# Thumbnails
._*
# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

## Miscellaneous
*.class
*.log
*.pyc
*.swp
.atom/
.buildlog/
.history
.svn/
.env

# Composer
vendor/

# npm
node_modules/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

## Visual Studio Code
.vscode/
*.code-workspace

## Sublime Text
*.sublime-*

## Microsoft Office related
~$*
